<div
  class="d-flex justify-content-center"
  [ngClass]="
    (menuCollapse$ | async) ? 'search-container' : 'search-container__collapsed'
  "
>
  <div
    [ngClass]="
      (menuCollapse$ | async) ? 'search-content' : 'search-content__collapsed'
    "
  >
    <app-search
      class="actionSearchTemplate"
      inputText="Type a City Name.."
      (submitForm)="citySearch($event)"
    ></app-search>
  </div>
</div>

<div
  class="d-flex justify-content-center"
  [ngClass]="
    (menuCollapse$ | async) ? 'search-container' : 'search-container__collapsed'
  "
  style="margin-top: 3rem"
>
  <app-card
    *ngIf="cityData?.weather | async as cityWeather; else skeletonForecast"
    btnText="Add this City"
    [weatherData]="cityWeather"
    imgUrl="../../../assets/images/earth.jpg"
    (cardSubmit)="addCity($event)"
  ></app-card>
</div>

<ng-template #skeletonForecast>
  <div class="actionSkeletonTemplate" style="margin: 2vh 0 0 10vh">
    <img src="../../assets/images/empty-search.svg" alt="type a city name" />
  </div>
</ng-template>
