/// COLORS ///

$text-color: #494949;
$primary-color: rgb(224, 95, 8);
$secondary-color: rgb(104, 104, 216);
$border-color: #d8d8d8;
$border-light-color: #f1f1f1;
$text-muted: #aeaeae;
$background-muted: #fff;
$navbar-background-color: rgb(96, 206, 129);
